body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0B2027;
    background-color: #F4F4F8;
}

#display-area{
    display: none;
}

#info-output{
    align-content: center;
}

